@model Przeglady.Models.Montaz

@{
    ViewData["Title"] = "Edytuj";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edytuj</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Nazwa" class="control-label"></label>
                <input asp-for="Nazwa" class="form-control" />
                <span asp-validation-for="Nazwa" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Imie" class="control-label"></label>
                <input asp-for="Imie" class="form-control" />
                <span asp-validation-for="Imie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nazwisko" class="control-label"></label>
                <input asp-for="Nazwisko" class="form-control" />
                <span asp-validation-for="Nazwisko" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telefon" class="control-label"></label>
                <input asp-for="Telefon" class="form-control" />
                <span asp-validation-for="Telefon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nip" class="control-label"></label>
                <input asp-for="Nip" class="form-control" />
                <span asp-validation-for="Nip" class="text-danger"></span>
            </div>
            <div class="form-group">
                <b>Adres pracowni</b>
            </div>
            <div class="form-group">
                <label asp-for="Ulica" class="control-label"></label>
                <input asp-for="Ulica" class="form-control" />
                <span asp-validation-for="Ulica" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kod" class="control-label"></label>
                <input asp-for="Kod" class="form-control" />
                <span asp-validation-for="Kod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Miejscowosc" class="control-label"></label>
                <input asp-for="Miejscowosc" class="form-control" />
                <span asp-validation-for="Miejscowosc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Wojewodztwo" class="control-label"></label>
                <select asp-for="Wojewodztwo"
                        class="form-control"
                        asp-items="@(new SelectList(new List<SelectListItem>
                                     {
                                         new SelectListItem { Value = "dolnośląskie", Text = "dolnośląskie" },
                                         new SelectListItem { Value = "kujawsko-pomorskie", Text = "kujawsko-pomorskie" },
                                         new SelectListItem { Value = "lubelskie", Text = "lubelskie" },
                                         new SelectListItem { Value = "lubuskie", Text = "lubuskie"  },
                                         new SelectListItem { Value = "łódzkie", Text = "łódzkie" },
                                         new SelectListItem { Value = "małopolskie", Text = "małopolskie" },
                                         new SelectListItem { Value = "mazowieckie", Text = "mazowieckie"},
                                         new SelectListItem { Value = "opolskie", Text = "opolskie" },
                                         new SelectListItem { Value = "podkarpackie",Text = "podkarpackie" },
                                         new SelectListItem { Value = "podlaskie", Text = "podlaskie" },
                                         new SelectListItem { Value = "pomorskie", Text = "pomorskie" },
                                         new SelectListItem { Value = "śląskie", Text = "śląskie",  },
                                         new SelectListItem { Value = "świętokrzyskie",  Text = "świętokrzyskie"   },
                                         new SelectListItem { Value = "warmińsko-mazurskie", Text = "warmińsko-mazurskie" },
                                         new SelectListItem { Value = "wielkopolskie",  Text = "wielkopolskie" },
                                         new SelectListItem { Value = "zachodniopomorskie", Text = "zachodniopomorskie"  },

                                     },"Text","Value"))"></select>

            </div>

            <div class="form-group">
                <b>Adres montażu</b>
            </div>
            <div class="form-group">
                <label asp-for="Ulica2" class="control-label"></label>
                <input asp-for="Ulica2" class="form-control" />
                <span asp-validation-for="Ulica2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kod2" class="control-label"></label>
                <input asp-for="Kod2" class="form-control" />
                <span asp-validation-for="Kod2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Miejscowosc2" class="control-label"></label>
                <input asp-for="Miejscowosc2" class="form-control" />
                <span asp-validation-for="Miejscowosc2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Wojewodztwo2" class="control-label"></label>
                <select asp-for="Wojewodztwo2"
                        class="form-control"
                        asp-items="@(new SelectList(new List<SelectListItem>
                                     {
                                         new SelectListItem { Value = "dolnośląskie", Text = "dolnośląskie" },
                                         new SelectListItem { Value = "kujawsko-pomorskie", Text = "kujawsko-pomorskie" },
                                         new SelectListItem { Value = "lubelskie", Text = "lubelskie" },
                                         new SelectListItem { Value = "lubuskie", Text = "lubuskie"  },
                                         new SelectListItem { Value = "łódzkie", Text = "łódzkie" },
                                         new SelectListItem { Value = "małopolskie", Text = "małopolskie" },
                                         new SelectListItem { Value = "mazowieckie", Text = "mazowieckie"},
                                         new SelectListItem { Value = "opolskie", Text = "opolskie" },
                                         new SelectListItem { Value = "podkarpackie",Text = "podkarpackie" },
                                         new SelectListItem { Value = "podlaskie", Text = "podlaskie" },
                                         new SelectListItem { Value = "pomorskie", Text = "pomorskie" },
                                         new SelectListItem { Value = "śląskie", Text = "śląskie",  },
                                         new SelectListItem { Value = "świętokrzyskie",  Text = "świętokrzyskie"   },
                                         new SelectListItem { Value = "warmińsko-mazurskie", Text = "warmińsko-mazurskie" },
                                         new SelectListItem { Value = "wielkopolskie",  Text = "wielkopolskie" },
                                         new SelectListItem { Value = "zachodniopomorskie", Text = "zachodniopomorskie"  },

                                     },"Text","Value"))"></select>

            </div>
            <div class="form-group">
                <label asp-for="Gwarancja" class="control-label"></label>
                <select asp-for="Gwarancja"
                        class="form-control"
                        asp-items="@(new SelectList(new List<SelectListItem>
                                     {
                                         new SelectListItem { Value = "12 miesięcy", Text = "12 miesięcy" },
                                         new SelectListItem { Value = "24 miesięcy", Text = "24 miesięcy" },
                                         new SelectListItem { Value = "36 miesięcy", Text = "36 miesięcy"  },

                                     },"Text","Value"))"></select>

            </div>
            <div class="form-group">
                <label asp-for="DataMontazu" class="control-label"></label>
                <input asp-for="DataMontazu" class="form-control" />
                <span asp-validation-for="DataMontazu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataOstatniegoPrzegladu" class="control-label"></label>
                <input asp-for="DataOstatniegoPrzegladu" class="form-control" />
                <span asp-validation-for="DataOstatniegoPrzegladu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Podreczniki" /> @Html.DisplayNameFor(model => model.Podreczniki)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="ODOIA" /> @Html.DisplayNameFor(model => model.ODOIA)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="SIGMA" /> @Html.DisplayNameFor(model => model.SIGMA)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Uwagi" class="control-label"></label>
                <textarea asp-for="Uwagi" class="form-control"></textarea>
                <span asp-validation-for="Uwagi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Zapisz" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-primary" asp-action="Index">Powrót</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
