@model IEnumerable<Przeglady.Models.Montaz>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nazwa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Imie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nazwisko)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nip)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Zaproszenie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gwarancja)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataMontazu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataOstatniegoPrzegladu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Podreczniki)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ODOIA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SIGMA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Uwagi)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nazwa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Imie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nazwisko)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nip)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Zaproszenie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gwarancja)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataMontazu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataOstatniegoPrzegladu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Podreczniki)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ODOIA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SIGMA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Uwagi)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
